<%= form_with(model: credit_card, local: true) do |form| %>
  <% if credit_card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(credit_card.errors.count, "error") %> prohibited this credit_card from being saved:</h2>

      <ul>
      <% credit_card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :number %>
    <%= form.text_field :number, id: :credit_card_number %>
  </div>

  <div class="field">
    <%= form.label :exp_date %>
    <%= select_date Date.today, prefix: :exp_date %>"Pick any day of the month"
  </div>

  <div class="field">
    <%= form.label :name_on_card %>
    <%= form.text_field :name_on_card, id: :credit_card_name_on_card %>
  </div>

  <div class="field">
    <%= form.label :organisation %>
    <%= form.select :organisation, CreditCard.organisations.keys, prompt: 'Select a card type' %>
  </div>

  <div class="field">
    <%= form.label :customer_id %>
    <%= form.text_field :customer_id, id: :customer_last_name %> 
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
