<%= form_with(model: cabin, local: true) do |form| %>
  <% if cabin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cabin.errors.count, "error") %> prohibited this cabin from being saved:</h2>

      <ul>
      <% cabin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :cabin_name %>
  </div>

  <div class="field">
    <%= form.label :beds %>
    <%= form.number_field :beds, id: :cabin_beds %>
  </div>

  <div class="field">
    <%= form.label :deck %>
    <%= form.number_field :deck, id: :cabin_deck %>
  </div>

  <div class="field">
    <em><%= form.label :ship_id %></em>
    <%= form.collection_select(:ship_id, @ships, :id, :name ) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
