<%= form_with(model: reservation, local: true) do |form| %>
  <% if reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :customer_id %>
    <%= form.collection_select(:customer_id, @customers, :id, :last_name ) %>
  </div>

  <div class="field">
    <%= form.label :cruise_id %>
    <%= form.text_field :cruise_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
