<%= form_with(model: cruise, local: true) do |form| %>
  <% if cruise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cruise.errors.count, "error") %> prohibited this cruise from being saved:</h2>

      <ul>
      <% cruise.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :cruise_name %>
  </div>

  <div class="field">
    <em><%= form.label :ship_id %></em>
    <%= form.collection_select( :ship_id, @ships, :id, :name ) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
