<%= form_with(model: payment, local: true) do |form| %>
  <% if payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount, id: :payment_amount %>
  </div>

  <div class="field">
    <%= form.label :card_number %>
    <%= form.text_field :card_number, id: :payment_card_number %>
  </div>

  <div class="field">
    <%= form.label :customer_id %>
    <%= form.collection_radio_buttons( :customer_id, @customers, :id, :last_name ) %>
  </div>

  <div class="field">
    <%= form.label :reservation_id %>
    <%= form.collection_select( :reservation_id, @reservations, :id, :id ) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
