<!DOCTYPE html>
<html>
  <head>
    <title>Travelagent</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render :partial=> "layouts/menu" %>
    <%= yield %>
    <br><br>
    <div>
  		<div>
		    <a href="/payments">Payments</a>
		    <a href="/customers">Customers</a>
		    <a href="/addresses">Addresses</a>
		    <a href="/cabins">Cabins</a>
		    <a href="/credit_cards">Credit Cards</a>
		    <a href="/cruises">Cruises</a>
		    <a href="/reservations">Reservations</a>
		    <a href="/ships">Ships</a>
  		</div>
	</div>
  </body>
</html>
